#view-chart {
  min-height:100vh;
  min-width:100vw;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  overflow: hidden;
  background-image: radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
  .main-body{
    flex:1;
    width:100%;
    display: flex;
    .left-area {
      width:40%;
      padding: 0 10px;
      .small-chart-wrap{
        height:50%;
        width:100%;
        padding:5px 0 ;
      }
    }
    .right-area {
      width:60%;
      padding:5px 0;
      height:calc(100vh - 60px);
    }
  }
}