.body {
  min-height:100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  .mian-body {
    flex:1;
    font-size: 5vw;
    display: flex;
    flex-wrap: wrap;
    #welcome-title {
      color: #fff;
      height:100px;
      padding:10px;
    }
    .link-wrap {
      width: 100%;
      .link-to-search {
        color: #fff;
        &:hover {
          color: #1838b6;
        }
      }
    }
  }
}
